<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  {% comment %}<select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {% endcomment %}
  {{ current_variant.price | money }}

  {% if product.variants.size > 1 %}
    {% for variant in product.variants %}
      <input type="radio" name = "id" id="variant-{{ forloop.index }}" value = "{{variant.id}}">
      <label for="variant-{{forloop.index}}">{{variant.title}}</label>
    {% endfor %}
  {% else %}
    <input type="hidden" name ="id" value = "{{product.variants.first.id}}">
  {% endif %}


  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" class = "js-quantity-field" name="quantity" value="1" min="1" {% if product.variants.size == 1  %}
  max="{{product.variants.first.inventory_quantity}}" {% endif %}>

  <button class="quantity-button js-quantity-button minus" type="button" disabled >
    &ndash;
  </button>

  <span class = "quantity-text js-quantity-text">
    1
  </span>

  <button class="quantity-button js-quantity-button plus" type="button">
   +
  </button>

  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
