{% if cart.item_count > 0 %}
  <p>{{ 'cart.filled.title' | t }}</p>
  <form action="/cart" method="post" novalidate>

        {% for item in cart.items %}

          {% include 'line-item' %}

        {% endfor %}

    <div class = "subtotal-line">
      <p>{{ 'cart.filled.subtotal' | t }}</p> : <span class="price">{{ cart.total_price | money }}</span>
      <button type="submit" name="checkout">{{ 'cart.filled.button'| t }}</button>
    </div>
  </form>
{% else %}
  <p class = "cart-empty-text">{{'cart.empty.title' | t }}</p>
  <a href="/"><{{'cart.empty.button' | t }}/a>
  <h2>cart</h2>
  Cart is empty
{% endif %}
