<div class="line-item">
  <div class="line-info">
    a href="{{ item.url }}">{{ item.product.title }}</a>
    {{ item.variant.title }}
  </div>

  <div class="line-image">
    <a href="{{ item.url | within: collections.all }}">
      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
    </a>
  </div>
</div>




<
<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>

{{ item.price | money }}

<input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">


{% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
  {{ item.line_price | money }}
{% for discount in item.discounts %}{{ discount.title }}{% endfor %}
